In [ ]:
# variables in python

In [1]:
print("this is sparta")

this is sparta

In [5]:
student = "Sam"

In [6]:
student

'Sam'

In [7]:
student = "Matt"

In [8]:
student

'Matt'

In [10]:
student = "Bob"

In [11]:
student

'Bob'

In [17]:
# data types in python

In [18]:
a1 = 10
a1

10

In [19]:
type(a1)

int

In [20]:
a1 = 3.14

In [21]:
type(a1)

float

In [24]:
a1 = True

In [25]:
a1

True

In [26]:
type(a1)

bool

In [27]:
a1 = "hello"

In [28]:
a1

'hello'

In [29]:
type(a1)

str

In [30]:
a1 = 3 + 4j
a1

(3+4j)

In [31]:
type(a1)

complex

In [32]:
# operators in python

In [33]:
a = 10
b = 20
a, b

(10, 20)

In [34]:
a + b

30

In [35]:
a - b

-10

In [36]:
a * b

200

In [37]:
a / b

0.5

In [39]:
a > b

False

In [40]:
a >= b

False

In [41]:
a == b

False

In [42]:
a != b

True

In [43]:
a < b

True

In [44]:
a <= b

True

In [45]:
std = "martha"
std

'martha'

In [ ]:
# strings

In [46]:
str1 = "this is my first string"
str1

'this is my first string'

In [47]:
str2 = """ this is my second string.
i am using docstring here.
"""

In [48]:
str2

' this is my second string.\ni am using docstring here.\n'

In [3]:
my_string = "My name is Zahid"
my_string

'My name is Zahid'

In [51]:
my_string[0]

'M'

In [52]:
my_string[-1]

'd'

In [4]:
my_string[4:8]

'ame '

In [5]:
my_string[8:]

'is Zahid'

In [6]:
my_string[::-1]

'dihaZ si eman yM'

In [7]:
len(my_string)

16

In [8]:
my_string.lower()

'my name is zahid'

In [9]:
my_string.upper()

'MY NAME IS ZAHID'

In [10]:
my_string.capitalize()

'My name is zahid'

In [12]:
my_string.replace("Zahid","Jewel")

'My name is Jewel'

In [14]:
my_string.count("a")

2

In [15]:
s1 = "this is sparta"

In [16]:
s1.find("is")

2

In [17]:
s1.split()

['this', 'is', 'sparta']

In [18]:
s2 = " this is my country "

In [19]:
s2.strip()

'this is my country'

In [20]:
s2.rstrip()

' this is my country'

In [21]:
s2.lstrip()

'this is my country '

In [22]:
s3 = "apple,banana,orange,mango"

In [23]:
s3.split(",")

['apple', 'banana', 'orange', 'mango']

In [24]:
email = 'zahidulislamssf@gmail.com'

In [25]:
email

'zahidulislamssf@gmail.com'

In [26]:
email.split('@')

['zahidulislamssf', 'gmail.com']

In [27]:
 # python data structures

In [28]:
# tuples

In [29]:
tup1 = (1,True,3.14,4+3j)

In [30]:
tup1

(1, True, 3.14, (4+3j))

In [31]:
type(tup1)

tuple

In [33]:
tup1[0]

1

In [34]:
tup1[-1]

(4+3j)

In [36]:
tup1[1:4]

(True, 3.14, (4+3j))

In [37]:
 len(tup1)

4

In [38]:
t1 = (1,2,3)
t2 = (4,5,6)

In [39]:
t1 + t2

(1, 2, 3, 4, 5, 6)

In [40]:
len(t1 + t2)

6

In [41]:
t1, t2

((1, 2, 3), (4, 5, 6))

In [45]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [46]:
max(t1)

3

In [47]:
min(t1)

1

In [48]:
max(t2)

6

In [49]:
min(t2)

4

In [50]:
# list

In [51]:
L = [4, 9, 2, 3, 5, 7, 8, 1, 6, 0]
L

[4, 9, 2, 3, 5, 7, 8, 1, 6, 0]

In [52]:
len(L)

10

In [53]:
sorted(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
L

[4, 9, 2, 3, 5, 7, 8, 1, 6, 0]

In [56]:
L.sort()

In [57]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
type(L)

list

In [60]:
L[0]

0

In [61]:
L[2:5]

[2, 3, 4]

In [62]:
L[-1]

9

In [63]:
L[::2]

[0, 2, 4, 6, 8]

In [64]:
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [65]:
L.append(11)

In [66]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [67]:
L.pop()

11

In [68]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
L.reverse()

In [70]:
L

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [71]:
L.insert(4,13)

In [72]:
L

[9, 8, 7, 6, 13, 5, 4, 3, 2, 1, 0]

In [74]:
L.remove(3)

In [75]:
L

[9, 8, 7, 6, 13, 5, 4, 2, 1, 0]

In [76]:
sum(L)

55

In [78]:
L1 = [4,9,2]
L2 = [3,5,7,8]

In [79]:
L1 + L2

[4, 9, 2, 3, 5, 7, 8]

In [80]:
L1*3

[4, 9, 2, 4, 9, 2, 4, 9, 2]

In [81]:
# dictionary

In [82]:
d1 = {"apple": 50 , "orange": 80, "gauva": 50, "banana": 30}

In [83]:
type(d1)

dict

In [84]:
d1.keys()

dict_keys(['apple', 'orange', 'gauva', 'banana'])

In [85]:
d1.values()

dict_values([50, 80, 50, 30])

In [87]:
d1.items()

dict_items([('apple', 50), ('orange', 80), ('gauva', 50), ('banana', 30)])

In [88]:
d1["date"] = 50

In [89]:
d1

{'apple': 50, 'orange': 80, 'gauva': 50, 'banana': 30, 'date': 50}

In [90]:
len(d1)

5

In [97]:
sorted(d1)

['apple', 'banana', 'date', 'gauva', 'orange']

In [98]:
fruit1 = {'apple': 50, 'orange': 80, 'gauva': 50}
fruit2 = {'banana': 30, 'date': 50}

In [99]:
fruit1.update(fruit2)

In [100]:
fruit1

{'apple': 50, 'orange': 80, 'gauva': 50, 'banana': 30, 'date': 50}

In [101]:
fruit1.pop("apple")

50

In [103]:
fruit1

{'orange': 80, 'gauva': 50, 'banana': 30, 'date': 50}

In [104]:
# set

In [105]:
s1 = {4,9,2,3,5}
s2 = {8,1,6,0,7}

In [106]:
type(s1)

set

In [107]:
len(s1)

5

In [108]:
len(s2)

5

In [110]:
s1.add(11)

In [111]:
s1

{2, 3, 4, 5, 9, 11}

In [112]:
s2.update([13,17,19])

In [113]:
s2

{0, 1, 6, 7, 8, 13, 17, 19}

In [114]:
s2.remove(0)

In [115]:
s2

{1, 6, 7, 8, 13, 17, 19}

In [116]:
s3 = {4,4,9,9,9,2,3,3,3,3,5,7,7,8,1,1,1,1,6}

In [117]:
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [120]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19}

In [122]:
s1.intersection(s2)

set()

In [123]:
s1.intersection(s3)

{2, 3, 4, 5, 9}