In [13]:
# LIST COMPREHENSION

In [15]:
# python documentation

In [2]:
# example - 01
# using for loop
squares = [] 
for x in range(10):
    squares.append(x**2)

In [3]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
# using lambda + map
squares = list(map(lambda x : x**2, range(10))) 
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
# using list comprehension
squares = [ x**2 for x in range(10)] 
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
# example - 02
# using nested for loops
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!= y:
            combs.append((x,y))

In [18]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [22]:
# using list comprehension
[(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [9]:
# example - 03
[(x,y) for x in [1,2,3] for y in [3,1,4] if x < y]

[(1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [10]:
# example - 04
[(x,y) for x in [1,2,3] for y in [3,1,4] if x > y]

[(2, 1), (3, 1)]

In [12]:
# example - 05
[(x,y) for x in [1,2,3] for y in [3,1,4]]

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [19]:
# example - 06
vect = [-4,-2,0,2,4]

In [20]:
[x*2 for x in vect]

[-8, -4, 0, 4, 8]

In [21]:
# example - 07
[x for x in vect if x>=0]

[0, 2, 4]

In [23]:
# example - 08
[abs(x) for x in vect]

[4, 2, 0, 2, 4]

In [24]:
# example - 09
fruits = [" banana", " berry ", "mango "]
[f.strip() for f in fruits]

['banana', 'berry', 'mango']

In [27]:
# example - 09
[(x, x**2) for x in range(10)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [30]:
# example - 10
vec = [[4,9,2],[3,5,7],[8,1,6]]
[num for row in vec for num in row]

[4, 9, 2, 3, 5, 7, 8, 1, 6]

In [32]:
# example - 11
from math import pi
# [round(pi,i) for i in range(1,6)]
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [33]:
# nested list comprehension

In [44]:
# example - 12
# transpose of a matrix 
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,6,3,1],
];

In [46]:
# using nested for loops

transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

In [47]:
transposed

[[1, 5, 9], [2, 6, 6], [3, 7, 3], [4, 8, 1]]

In [41]:
# using for loop + list comprehension

transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

In [42]:
transposed

[[1, 5, 9], [2, 6, 6], [3, 7, 3], [4, 8, 1]]

In [43]:
# using list comprehension purely
[ [row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 6], [3, 7, 3], [4, 8, 1]]

In [48]:
# del operator

In [49]:
L = [4,9,2,3,5,7,8,1,6,0]

In [50]:
del L[9]

In [51]:
L

[4, 9, 2, 3, 5, 7, 8, 1, 6]

In [52]:
del L[2:5]

In [53]:
L

[4, 9, 7, 8, 1, 6]

In [54]:
del L[::2]

In [55]:
L

[9, 8, 6]

In [56]:
# # LIST COMPREHENSION from Python Tricks(Dan Bader)

In [57]:
list(range(0,8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [58]:
# example - 01
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
# example - 02
[x*x for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

In [60]:
# example - 03
# list comprehension in sets / set comprehension

{ x*x for x in range(-9,10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [61]:
# example - 04
# list comprehension in dictionary / dictionary comprehension
{x:x*x for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [1]:
# LIST COMPREHENSION from FLUENT PYTHON by Luciano Ramalho

In [2]:
# example - 2.1
symbols = "$¢£€¥¤"
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

In [3]:
codes

[36, 162, 163, 8364, 165, 164]

In [6]:
# example - 2.2
symbols = "$¢£€¥¤"
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 8364, 165, 164]

In [7]:
# example - 2.2.2
x = "ABC"
dummy = [ord(x) for x in x] # x in two states in same statement

In [8]:
dummy

[65, 66, 67]

In [9]:
# listcomps vs map and filter

In [11]:
# example - 2.3
# using listcomps
symbols = "$¢£€¥¤"
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 8364, 165, 164]

In [12]:
# using map and filter composition along with lambda
beyond_ascii = list(filter(lambda c:c > 127, map(ord,symbols)))
beyond_ascii

[162, 163, 8364, 165, 164]

In [13]:
# cattesian product using listcomps
# example - 2.4
colors = ["black","white"]
sizes = ["S","M","L"]
tshirts = [(color,size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [15]:
tshirts = [ (color,size) for size in sizes for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

In [16]:
# LAMBDA FUNCTION in Python

In [17]:
# from w3Schools
# example - 01
x = lambda a: a+10
x(5)

15

In [18]:
# example - 01
x = lambda a,b: a*b
x(5,6)

30

In [19]:
# example - 03
x = lambda a,b,c: a+b+c
x(4,9,2)

15

In [21]:
# example - 04
# lambda as return of another function
def myfunc(n):
    return lambda a: a*n

mydoubler = myfunc(2)
mydoubler(11)

22

In [24]:
mytripler = myfunc(3)
mytripler(8)

24

In [23]:
mymultiplier = myfunc(4)
mymultiplier(9)

36

In [25]:
# from geeksforgeeks
# example - 01
g = lambda x: x*x*x
g(7)

343

In [26]:
# example - 02
# lambda with filter
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2!=0),li))
final_list

[5, 7, 97, 77, 23, 73, 61]

In [27]:
# example - 03
# lambda with map
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x:x*2, li))
final_list

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [121]:
# example - 04
# lambda with reduce
from functools import reduce
li = [5,8,10,20,50,100]
summation = reduce(lambda x,y:x+y,li)
summation

193

In [29]:
# example - 05
# lambda and filter
# find all numbers divisible my 13
my_list = [12,65,54,39,102,339,221,50,70]
final_list = list(filter(lambda x: x%13==0, my_list))
final_list

[65, 39, 221]

In [30]:
# example - 06
# lambda and filter
# find all palindromes from the list of strings
my_list = ["geeks", "geeg", "keek", "practice", "aa"] 
result = list(filter(lambda x: (x == "".join(reversed(x))), my_list))
result

['geeg', 'keek', 'aa']

In [31]:
reversed("zahid")

In [32]:
list(reversed("zahid"))

['d', 'i', 'h', 'a', 'z']

In [33]:
"".join(list(reversed("zahid")))

'dihaz'

In [34]:
"-".join(list(reversed("zahid")))

'd-i-h-a-z'

In [35]:
",".join(list(reversed("zahid")))

'd,i,h,a,z'

In [36]:
" ".join(list(reversed("zahid")))

'd i h a z'

In [37]:
".".join(list(reversed("zahid")))

'd.i.h.a.z'

In [39]:
# example - 07
# lambda with map
# Program to find all anagrams of str in 
from collections import Counter

    # Counter() returns a dictionary data 
    # structure which contains characters  
    # of input as key and their frequencies 
    # as it's corresponding value 
    
my_list = ["geeks", "geeg", "keegs", "practice", "aa"] 
str = "eegsk"

result = list(filter(lambda x: Counter(x)==Counter(str), my_list))
result

['geeks', 'keegs']

In [40]:
# example - 08
# lambda with filter
li = [100, 2, 8, 60, 5, 4, 3, 31, 10, 11] 
filtered = list(filter(lambda x: x%2==0, li))
filtered

[100, 2, 8, 60, 4, 10]

In [41]:
# LAMBDA FUNCTION from Fluent Python by Luciano Ramalho

In [44]:
# example - 5.7
# sorting words by their reversed spelling
fruits = ["strawberry", "fig", "apple","cherry", "raspberry", "banana"]

sorted(fruits, key=lambda word: word[::-1])

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

In [45]:
# LAMBDA FUNCTION from Python Tricks by Dan Bader

In [46]:
# example - 01
add = lambda x,y : x+y
add(4,9)

13

In [47]:
# example - 02
(lambda x,y: x+y)(4,9)

13

In [48]:
# example - 03
# sorting tuples with lambda
tuples = [(1,'d'), (2,'b'), (4,'a'), (3,'c')]
sorted(tuples ,key=lambda x:x[1])

[(4, 'a'), (2, 'b'), (3, 'c'), (1, 'd')]

In [49]:
# example - 04
# sorting list with lambda
sorted(range(-5,6), key=lambda x:x*x)

[0, -1, 1, -2, 2, -3, 3, -4, 4, -5, 5]

In [50]:
sorted(range(-5,6), key=lambda x:x*x,reverse=True)

[-5, 5, -4, 4, -3, 3, -2, 2, -1, 1, 0]

In [51]:
# exammple - 05
# lambda with regular function
def make_adder(n):
    return lambda x:x+n

plus_three = make_adder(3)
plus_three(7)

10

In [52]:
plus_four = make_adder(4)
plus_four(16)

20

In [53]:
plus_five = make_adder(5)
plus_five(5)

10

In [55]:
# example - 06
# lambda function vs listcomps

# print all even numbers bwtween 0 and 15

In [57]:
# using lambda - harmful
# using lambda + map + filter
evens = list(filter(lambda x:x%2==0,range(16)))
evens

[0, 2, 4, 6, 8, 10, 12, 14]

In [58]:
# using list-comprehension - better
evens = [x for x in range(16) if x%2==0]
evens

[0, 2, 4, 6, 8, 10, 12, 14]

In [59]:
# MAP, FILTER, REDUCE by socratica

In [ ]:
# map function

In [60]:
# example - 1
# using regular function
import math

def area(r):
    return math.pi*(r**2)

radii = [2,5,7.1,0.3,10]
areas = []
for r in radii:
    areas.append(area(r))
areas

[12.566370614359172,
 78.53981633974483,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

In [61]:
# using map function
list(map(area, radii))

[12.566370614359172,
 78.53981633974483,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

In [62]:
# example - 2
temps = [("Berlin",29), ("Cairo",36), ("Buenos Aires",19), ("Los Angeles",26), ("Tokyo",2),("New York",28),("London",22), ("Beiging",28)]
temps

[('Berlin', 29),
 ('Cairo', 36),
 ('Buenos Aires', 19),
 ('Los Angeles', 26),
 ('Tokyo', 2),
 ('New York', 28),
 ('London', 22),
 ('Beiging', 28)]

In [63]:
c_to_f = lambda data: (data[0],(9/5)*data[1]+32)
list(map(c_to_f,temps))

[('Berlin', 84.2),
 ('Cairo', 96.8),
 ('Buenos Aires', 66.2),
 ('Los Angeles', 78.80000000000001),
 ('Tokyo', 35.6),
 ('New York', 82.4),
 ('London', 71.6),
 ('Beiging', 82.4)]

In [ ]:
# filter function

In [65]:
# example - 01
# filters all value above average
import statistics

data = [1.3,2.7,0.8,4.1,4.3,-0.1]
avg = statistics.mean(data)
avg

2.183333333333333

In [67]:
list(filter(lambda x: x > avg, data))

[2.7, 4.1, 4.3]

In [68]:
list(filter(lambda x: x < avg, data))

[1.3, 0.8, -0.1]

In [ ]:
# example - 01

In [69]:
countries = ["","Argentina","","Brazil","","Ecuador","","Chile","","Venezuela","Paraguya",""]
countries

['',
 'Argentina',
 '',
 'Brazil',
 '',
 'Ecuador',
 '',
 'Chile',
 '',
 'Venezuela',
 'Paraguya',
 '']

In [70]:
list(filter(None,countries))

['Argentina', 'Brazil', 'Ecuador', 'Chile', 'Venezuela', 'Paraguya']

In [ ]:
# reduce function

In [71]:
# example - 01
from functools import reduce
data = [2,3,5,7,11,13,17,19,23,29]
multiplier = lambda x,y:x*y
reduce(multiplier,data)

6469693230

In [72]:
# MAP, FILTER, REDUCE from Fluent Python by Luciano Ramalho

In [73]:
# example - 5.1
# factorial of a list using regular function and map
def fact(n):
    """returns n!"""
    return 1 if n<2 else n*fact(n-1)

fact(10)

3628800

In [74]:
fact(42)

1405006117752879898543142606244511569936384000000000

In [75]:
fact.__doc__

'returns n!'

In [76]:
type(fact)

function

In [77]:
help(fact)

Help on function fact in module __main__:

fact(n)
    returns n!

In [78]:
f = fact
f(5)

120

In [79]:
# example - 5.2
list(map(f, range(10)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [80]:
list(map(fact,range(5)))

[1, 1, 2, 6, 24]

In [83]:
# sorted
# example - 5.3
# sorting a list of words by length
fruits = ["strawberry","apple","banana","fig","raspberry"]
sorted(fruits, key=len)

['fig', 'apple', 'banana', 'raspberry', 'strawberry']

In [85]:
# example - 5.4
# sorting a list of words by their reversed spelling

def reverse(word):
    return word[::-1]

fruits = ["strawberry","apple","banana","fig","raspberry"]

sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry']

In [89]:
# example 5.4
# list of factorial with map & filter vs listcomps
def fact(n):
    """returns n!"""
    return 1 if n<2 else n*fact(n-1)

In [90]:
# map
list(map(fact,range(10)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [88]:
# listcomps
[fact(n) for n in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
# example 5.4.1
# factorial of evens with map & filter vs listcomps

In [92]:
# map and filter
list(map(fact, filter(lambda x: x%2==0, range(10))))

[1, 2, 24, 720, 40320]

In [93]:
# list comprehension
[fact(n) for n in range(10) if n%2==0]

[1, 2, 24, 720, 40320]

In [95]:
# example - 5.6
# sum of integers up to 99 with reduce vs sum
# with reduce
from functools import reduce
from operator import add

reduce(lambda x,y:x+y,range(100))

4950

In [101]:
# using reduce and add
reduce(add,range(100))

4950

In [1]:
# using built in sum function and list comprehension
sum(range(100))

4950

In [2]:
# MAP, FILTER, REDUCE by geeksforgeeks

In [4]:
# map
# example - 01
def addition(n):
    return n+n

numbers = (1,2,3,4)
result = list(map(addition,numbers))
result

[2, 4, 6, 8]

In [5]:
# example - 02
numbers = (1,2,3,4)
result = list(map(lambda x: x+x, numbers))
result

[2, 4, 6, 8]

In [7]:
# example - 03
# adding two list using lambda and map
L1 = [1,2,3]
L2 = [4,5,6]
result = list(map(lambda x,y:x+y, L1,L2))
result

[5, 7, 9]

In [12]:
# example - 03
# listify list of strings
L = ["sat","cat","bat","rat"]
test = list(map(list,L))
test

[['s', 'a', 't'], ['c', 'a', 't'], ['b', 'a', 't'], ['r', 'a', 't']]

In [ ]:
# DICTIONARY

In [ ]:
# Dictionary from Python Tricks by Dan Bader

In [14]:
# example - 01
name_for_userid = {
    382: "Alice",
    950: "Bob",
    590: "Dilbert"
}

def greeting(userid):
    return "Hi %s!"%name_for_userid[userid]

greeting(382)

'Hi Alice!'

In [15]:
greeting(392)

KeyError: 392

In [17]:
# example - 02
name_for_userid = {
    382: "Alice",
    950: "Bob",
    590: "Dilbert"
}

def greeting(userid):
    if userid in name_for_userid:
        return "Hi %s!"%name_for_userid[userid]
    else:
        return "Hi there!"
    
greeting(382)

'Hi Alice!'

In [18]:
greeting(392)

'Hi there!'

In [19]:
# example - 03
name_for_userid = {
    382: "Alice",
    950: "Bob",
    590: "Dilbert"
}

def greeting(userid):
    try:
        return "Hi %s!"%name_for_userid[userid]
    except KeyError:
        return "Hi there!"

greeting(382)

'Hi Alice!'

In [20]:
greeting(392)

'Hi there!'

In [21]:
# example - 04
name_for_userid = {
    382: "Alice",
    950: "Bob",
    590: "Dilbert"
}

def greeting(userid):
    return "Hi %s"%name_for_userid.get(userid,"there")

greeting(382)

'Hi Alice'

In [23]:
greeting(392)

'Hi there'

In [24]:
# example - 05
# sorting dict
xs = {'a':4 , 'c': 2, 'b':3, 'd':1}
sorted(xs.items())

[('a', 4), ('b', 3), ('c', 2), ('d', 1)]

In [25]:
dict(sorted(xs.items()))

{'a': 4, 'b': 3, 'c': 2, 'd': 1}

In [ ]:
# example - 06
# sorting by values
# using a key function i.e. lambda

In [26]:
xs = {'a':4 , 'c': 2, 'b':3, 'd':1}
sorted(xs.items(),key=lambda x: x[1])

[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

In [27]:
dict(sorted(xs.items(),key=lambda x: x[1]))

{'d': 1, 'c': 2, 'b': 3, 'a': 4}

In [29]:
dict(sorted(xs.items(),key=lambda x: x[1], reverse=True))

{'a': 4, 'b': 3, 'c': 2, 'd': 1}

In [30]:
# example - 07
# using operator module
import operator

xs = {'a':4 , 'c': 2, 'b':3, 'd':1}
dict(sorted(xs.items(),key=operator.itemgetter(1)))

{'d': 1, 'c': 2, 'b': 3, 'a': 4}

In [31]:
dict(sorted(xs.items(),key=operator.itemgetter(0)))

{'a': 4, 'b': 3, 'c': 2, 'd': 1}

In [ ]:
# example - 08
# merging dictionary

xs = {'a':1, 'b':2, 'c':3}
ys = {'b':3, 'd':4}

In [33]:
zs = {}
zs.update(xs)
zs.update(ys)
zs # must return error, key conflict

NameError: name 'ys' is not defined

In [52]:
# example - 08
# dictionary update function
# zs = {}
zs = dict()
xs = {'a':1, 'b':2, 'c':3}
ys = {'b':3, 'd':4}

def update(dict1, dict2):
    for key, value in dict2.items():
        dict1[key] = value

# zs = update(xs,ys)
update(zs,xs)
update(zs,ys)
zs

{'a': 1, 'b': 3, 'c': 3, 'd': 4}

In [51]:
# example - 09
# dictionary merging using unpacking
xs = {'a':1, 'b':2, 'c':3}
ys = {'b':3, 'd':4}

zs = dict(xs,**ys)
# zs = dict(ys,**xs)
zs

{'a': 1, 'b': 3, 'c': 3, 'd': 4}

In [50]:
# example - 09
# dictionary merging in beautiful pythonic way
xs = {'a':1, 'b':2, 'c':3}
ys = {'b':3, 'd':4}

zs = {**xs, **ys}
zs

{'a': 1, 'b': 3, 'c': 3, 'd': 4}

In [55]:
# example - 10
# dictionary printing
mapping = {'a':23, 'b':42, 'c':0x0ffee}

# mapping
str(mapping)

"{'a': 23, 'b': 42, 'c': 65518}"

In [56]:
# example - 11
# dictionary printing using json.dumps
import json

mapping = {'a':23, 'b':42, 'c':0x0ffee}
json.dumps(mapping)

'{"a": 23, "b": 42, "c": 65518}'

In [57]:
json.dumps(mapping, indent=4,sort_keys=True)

'{\n    "a": 23,\n    "b": 42,\n    "c": 65518\n}'

In [59]:
# example - 12
# dictionary printing using pprint module
import pprint

mapping = {'a':23, 'b':42, 'c':0x0ffee}
mapping['d']={1,2,3}
pprint.pprint(mapping)

{'a': 23, 'b': 42, 'c': 65518, 'd': {1, 2, 3}}

In [ ]:
# DICTIONARY from Fluent Python by Luciano Ramalho

In [61]:
# example - 01
# dictionary comprehension
DIAL_CODES = [
    (86,"China"),
    (91,"India"),
    (1,"USA"),
    (62,"Indonesia"),
    (55,"Brazil"),
    (92,"Pakistan"),
    (880,"Bangladesh"),
    (234, "Nigeria"),
    (7,"Russia"),
    (81,"Japan")    
]

In [62]:
country_code = { country: code for code, country in DIAL_CODES}

In [63]:
country_code

{'China': 86,
 'India': 91,
 'USA': 1,
 'Indonesia': 62,
 'Brazil': 55,
 'Pakistan': 92,
 'Bangladesh': 880,
 'Nigeria': 234,
 'Russia': 7,
 'Japan': 81}

In [69]:
dict(sorted(country_code.items(),key=lambda x:x[1]))

{'USA': 1,
 'Russia': 7,
 'Brazil': 55,
 'Indonesia': 62,
 'Japan': 81,
 'China': 86,
 'India': 91,
 'Pakistan': 92,
 'Nigeria': 234,
 'Bangladesh': 880}

In [70]:
dict(sorted(country_code.items(),key=lambda x:x[0]))

{'Bangladesh': 880,
 'Brazil': 55,
 'China': 86,
 'India': 91,
 'Indonesia': 62,
 'Japan': 81,
 'Nigeria': 234,
 'Pakistan': 92,
 'Russia': 7,
 'USA': 1}

In [67]:
import operator
dict(sorted(country_code.items(),key=operator.itemgetter(1)))

{'USA': 1,
 'Russia': 7,
 'Brazil': 55,
 'Indonesia': 62,
 'Japan': 81,
 'China': 86,
 'India': 91,
 'Pakistan': 92,
 'Nigeria': 234,
 'Bangladesh': 880}

In [68]:
import operator
dict(sorted(country_code.items(),key=operator.itemgetter(0)))

{'Bangladesh': 880,
 'Brazil': 55,
 'China': 86,
 'India': 91,
 'Indonesia': 62,
 'Japan': 81,
 'Nigeria': 234,
 'Pakistan': 92,
 'Russia': 7,
 'USA': 1}

In [71]:
{code: country.upper() for code,country in DIAL_CODES}

{86: 'CHINA',
 91: 'INDIA',
 1: 'USA',
 62: 'INDONESIA',
 55: 'BRAZIL',
 92: 'PAKISTAN',
 880: 'BANGLADESH',
 234: 'NIGERIA',
 7: 'RUSSIA',
 81: 'JAPAN'}

In [73]:
{code: country.upper() for country,code in country_code.items()}

{86: 'CHINA',
 91: 'INDIA',
 1: 'USA',
 62: 'INDONESIA',
 55: 'BRAZIL',
 92: 'PAKISTAN',
 880: 'BANGLADESH',
 234: 'NIGERIA',
 7: 'RUSSIA',
 81: 'JAPAN'}

In [74]:
{code: country.upper() for country,code in country_code.items() if code < 66}

{1: 'USA', 62: 'INDONESIA', 55: 'BRAZIL', 7: 'RUSSIA'}

In [75]:
country_code

{'China': 86,
 'India': 91,
 'USA': 1,
 'Indonesia': 62,
 'Brazil': 55,
 'Pakistan': 92,
 'Bangladesh': 880,
 'Nigeria': 234,
 'Russia': 7,
 'Japan': 81}

In [76]:
import pprint
pprint.pprint(country_code)

{'Bangladesh': 880,
 'Brazil': 55,
 'China': 86,
 'India': 91,
 'Indonesia': 62,
 'Japan': 81,
 'Nigeria': 234,
 'Pakistan': 92,
 'Russia': 7,
 'USA': 1}

In [77]:
list(country_code)

['China',
 'India',
 'USA',
 'Indonesia',
 'Brazil',
 'Pakistan',
 'Bangladesh',
 'Nigeria',
 'Russia',
 'Japan']

In [78]:
list(country_code.keys())

['China',
 'India',
 'USA',
 'Indonesia',
 'Brazil',
 'Pakistan',
 'Bangladesh',
 'Nigeria',
 'Russia',
 'Japan']

In [79]:
list(country_code.values())

[86, 91, 1, 62, 55, 92, 880, 234, 7, 81]

In [80]:
country_code.items()

dict_items([('China', 86), ('India', 91), ('USA', 1), ('Indonesia', 62), ('Brazil', 55), ('Pakistan', 92), ('Bangladesh', 880), ('Nigeria', 234), ('Russia', 7), ('Japan', 81)])

In [81]:
country_code.popitem()

('Japan', 81)

In [82]:
country_code

{'China': 86,
 'India': 91,
 'USA': 1,
 'Indonesia': 62,
 'Brazil': 55,
 'Pakistan': 92,
 'Bangladesh': 880,
 'Nigeria': 234,
 'Russia': 7}

In [83]:
country_code.__len__

In [84]:
len(country_code)

9

In [85]:
di = {}
di = country_code.copy()

In [86]:
di

{'China': 86,
 'India': 91,
 'USA': 1,
 'Indonesia': 62,
 'Brazil': 55,
 'Pakistan': 92,
 'Bangladesh': 880,
 'Nigeria': 234,
 'Russia': 7}

In [87]:
di.pop("USA",None)

1

In [88]:
di

{'China': 86,
 'India': 91,
 'Indonesia': 62,
 'Brazil': 55,
 'Pakistan': 92,
 'Bangladesh': 880,
 'Nigeria': 234,
 'Russia': 7}

In [89]:
di.clear()

In [90]:
di

{}

In [91]:
del di

In [92]:
di # deleted, so must render error

NameError: name 'di' is not defined

In [93]:
del country_code["Russia"]

In [94]:
country_code

{'China': 86,
 'India': 91,
 'USA': 1,
 'Indonesia': 62,
 'Brazil': 55,
 'Pakistan': 92,
 'Bangladesh': 880,
 'Nigeria': 234}

In [95]:
# DICTIONARY from Automate The Boring Stuff With Python

In [96]:
# example - 01
# counting letter frequency in a message

In [99]:
import pprint

message = "It was a bright cold day in April, and the clocks were striking thirteen"

In [101]:
count = {}
for ch in message:
    if ch != ' ':
        count[ch] = count.get(ch,0) + 1

pprint.pprint(count)

{',': 1,
 'A': 1,
 'I': 1,
 'a': 4,
 'b': 1,
 'c': 3,
 'd': 3,
 'e': 5,
 'g': 2,
 'h': 3,
 'i': 6,
 'k': 2,
 'l': 3,
 'n': 4,
 'o': 2,
 'p': 1,
 'r': 5,
 's': 3,
 't': 6,
 'w': 2,
 'y': 1}

In [103]:
import operator
dict(sorted(count.items(),key = operator.itemgetter(1), reverse= True))

{'t': 6,
 'i': 6,
 'r': 5,
 'e': 5,
 'a': 4,
 'n': 4,
 's': 3,
 'h': 3,
 'c': 3,
 'l': 3,
 'd': 3,
 'w': 2,
 'g': 2,
 'o': 2,
 'k': 2,
 'I': 1,
 'b': 1,
 'y': 1,
 'A': 1,
 'p': 1,
 ',': 1}

In [1]:
# MORE LIST EXAMPLES
# example - 1
# flattening a list

l = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]

sum(l, [])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
=================== END OF THIS NOTEBOOK ==========================

In [104]:
## TOPICS COVERED

In [105]:
# List Comprehension

In [106]:
# Lambda Function

In [107]:
# Map Function

In [108]:
# Filter Function

In [109]:
# Reduce Function

In [110]:
# Sorted Function

In [ ]:
# Dictionary

In [ ]:
============================ THE END ==============================