In [ ]:
# variables in python

In [1]:
print("this is sparta")

this is sparta

In [5]:
student = "Sam"

In [6]:
student

'Sam'

In [7]:
student = "Matt"

In [8]:
student

'Matt'

In [10]:
student = "Bob"

In [11]:
student

'Bob'

In [17]:
# data types in python

In [18]:
a1 = 10
a1

10

In [19]:
type(a1)

int

In [20]:
a1 = 3.14

In [21]:
type(a1)

float

In [24]:
a1 = True

In [25]:
a1

True

In [26]:
type(a1)

bool

In [27]:
a1 = "hello"

In [28]:
a1

'hello'

In [29]:
type(a1)

str

In [30]:
a1 = 3 + 4j
a1

(3+4j)

In [31]:
type(a1)

complex

In [32]:
# operators in python

In [33]:
a = 10
b = 20
a, b

(10, 20)

In [34]:
a + b

30

In [35]:
a - b

-10

In [36]:
a * b

200

In [37]:
a / b

0.5

In [39]:
a > b

False

In [40]:
a >= b

False

In [41]:
a == b

False

In [42]:
a != b

True

In [43]:
a < b

True

In [44]:
a <= b

True

In [45]:
std = "martha"
std

'martha'

In [ ]:
# strings

In [46]:
str1 = "this is my first string"
str1

'this is my first string'

In [47]:
str2 = """ this is my second string.
i am using docstring here.
"""

In [48]:
str2

' this is my second string.\ni am using docstring here.\n'

In [3]:
my_string = "My name is Zahid"
my_string

'My name is Zahid'

In [51]:
my_string[0]

'M'

In [52]:
my_string[-1]

'd'

In [4]:
my_string[4:8]

'ame '

In [5]:
my_string[8:]

'is Zahid'

In [6]:
my_string[::-1]

'dihaZ si eman yM'

In [7]:
len(my_string)

16

In [8]:
my_string.lower()

'my name is zahid'

In [9]:
my_string.upper()

'MY NAME IS ZAHID'

In [10]:
my_string.capitalize()

'My name is zahid'

In [12]:
my_string.replace("Zahid","Jewel")

'My name is Jewel'

In [14]:
my_string.count("a")

2

In [15]:
s1 = "this is sparta"

In [16]:
s1.find("is")

2

In [17]:
s1.split()

['this', 'is', 'sparta']

In [18]:
s2 = " this is my country "

In [19]:
s2.strip()

'this is my country'

In [20]:
s2.rstrip()

' this is my country'

In [21]:
s2.lstrip()

'this is my country '

In [22]:
s3 = "apple,banana,orange,mango"

In [23]:
s3.split(",")

['apple', 'banana', 'orange', 'mango']

In [24]:
email = 'zahidulislamssf@gmail.com'

In [25]:
email

'zahidulislamssf@gmail.com'

In [26]:
email.split('@')

['zahidulislamssf', 'gmail.com']

In [27]:
 # python data structures

In [28]:
# tuples

In [29]:
tup1 = (1,True,3.14,4+3j)

In [30]:
tup1

(1, True, 3.14, (4+3j))

In [31]:
type(tup1)

tuple

In [33]:
tup1[0]

1

In [34]:
tup1[-1]

(4+3j)

In [36]:
tup1[1:4]

(True, 3.14, (4+3j))

In [37]:
 len(tup1)

4

In [38]:
t1 = (1,2,3)
t2 = (4,5,6)

In [39]:
t1 + t2

(1, 2, 3, 4, 5, 6)

In [40]:
len(t1 + t2)

6

In [41]:
t1, t2

((1, 2, 3), (4, 5, 6))

In [45]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [46]:
max(t1)

3

In [47]:
min(t1)

1

In [48]:
max(t2)

6

In [49]:
min(t2)

4

In [50]:
# list

In [51]:
L = [4, 9, 2, 3, 5, 7, 8, 1, 6, 0]
L

[4, 9, 2, 3, 5, 7, 8, 1, 6, 0]

In [52]:
len(L)

10

In [53]:
sorted(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
L

[4, 9, 2, 3, 5, 7, 8, 1, 6, 0]

In [56]:
L.sort()

In [57]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
type(L)

list

In [60]:
L[0]

0

In [61]:
L[2:5]

[2, 3, 4]

In [62]:
L[-1]

9

In [63]:
L[::2]

[0, 2, 4, 6, 8]

In [64]:
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [65]:
L.append(11)

In [66]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [67]:
L.pop()

11

In [68]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
L.reverse()

In [70]:
L

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [71]:
L.insert(4,13)

In [72]:
L

[9, 8, 7, 6, 13, 5, 4, 3, 2, 1, 0]

In [74]:
L.remove(3)

In [75]:
L

[9, 8, 7, 6, 13, 5, 4, 2, 1, 0]

In [76]:
sum(L)

55

In [78]:
L1 = [4,9,2]
L2 = [3,5,7,8]

In [79]:
L1 + L2

[4, 9, 2, 3, 5, 7, 8]

In [80]:
L1*3

[4, 9, 2, 4, 9, 2, 4, 9, 2]

In [81]:
# dictionary

In [82]:
d1 = {"apple": 50 , "orange": 80, "gauva": 50, "banana": 30}

In [83]:
type(d1)

dict

In [84]:
d1.keys()

dict_keys(['apple', 'orange', 'gauva', 'banana'])

In [85]:
d1.values()

dict_values([50, 80, 50, 30])

In [87]:
d1.items()

dict_items([('apple', 50), ('orange', 80), ('gauva', 50), ('banana', 30)])

In [88]:
d1["date"] = 50

In [89]:
d1

{'apple': 50, 'orange': 80, 'gauva': 50, 'banana': 30, 'date': 50}

In [90]:
len(d1)

5

In [97]:
sorted(d1)

['apple', 'banana', 'date', 'gauva', 'orange']

In [98]:
fruit1 = {'apple': 50, 'orange': 80, 'gauva': 50}
fruit2 = {'banana': 30, 'date': 50}

In [99]:
fruit1.update(fruit2)

In [100]:
fruit1

{'apple': 50, 'orange': 80, 'gauva': 50, 'banana': 30, 'date': 50}

In [101]:
fruit1.pop("apple")

50

In [103]:
fruit1

{'orange': 80, 'gauva': 50, 'banana': 30, 'date': 50}

In [104]:
# set

In [105]:
s1 = {4,9,2,3,5}
s2 = {8,1,6,0,7}

In [106]:
type(s1)

set

In [107]:
len(s1)

5

In [108]:
len(s2)

5

In [110]:
s1.add(11)

In [111]:
s1

{2, 3, 4, 5, 9, 11}

In [112]:
s2.update([13,17,19])

In [113]:
s2

{0, 1, 6, 7, 8, 13, 17, 19}

In [114]:
s2.remove(0)

In [115]:
s2

{1, 6, 7, 8, 13, 17, 19}

In [116]:
s3 = {4,4,9,9,9,2,3,3,3,3,5,7,7,8,1,1,1,1,6}

In [117]:
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [120]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19}

In [122]:
s1.intersection(s2)

set()

In [123]:
s1.intersection(s3)

{2, 3, 4, 5, 9}

In [ ]:
# control flows

In [1]:
# if statement

In [2]:
a = 10
b = 20

In [3]:
if b > a:
    print(f"{b} is greater than {a}")
else:
    print(f"{a} is greater than {b}")

20 is greater than 10

In [4]:
a = 10
b = 20
c = 30

In [5]:
if a>b and a> c:
    print(f"{a} is greatest")
elif b>a and b>c:
    print(f"{b} is the greatest")
else:
    print(f"{c} is the greatest")

30 is the greatest

In [6]:
# if with tuple

In [7]:
t1 = ('a','b','c')

In [9]:
if 'a' in t1:
    print(f"{a} is present in t1")

10 is present in t1

In [10]:
if 'z' in t1:
    print("z is present in t1")
else:
    print("z is not present in t1")

z is not present in t1

In [11]:
# if with list

In [12]:
L = [4,9,2]

In [13]:
if L[1] == 9:
    L[1] = 1

In [14]:
L

[4, 1, 2]

In [15]:
# if with dictionary

In [16]:
d1 = {"key1": 10, "key2": 20, "key3": 30}

In [17]:
if d1["key3"] == 30:
    d1["key3"] += 100

In [18]:
d1

{'key1': 10, 'key2': 20, 'key3': 130}

In [19]:
# looping statements

In [20]:
# for loop

In [22]:
i = 1
while i <= 10:
    print(i,end=" ")
    i = i + 1

1 2 3 4 5 6 7 8 9 10

In [23]:
i = 1
n = 5
while i <= 10:
    print(f"{n} X {i} = {n*i}",end="\n")
    i = i + 1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [25]:
# while with list

In [26]:
L = [4, 9, 2, 3, 5, 7, 8, 1, 6, 0]

In [27]:
i = 0
while i < len(L):
    print(L[i], end=" ")
    i = i + 1

4 9 2 3 5 7 8 1 6 0

In [28]:
i = 0
while i < len(L):
    L[i] = L[i]**2
    i = i + 1

In [29]:
L

[16, 81, 4, 9, 25, 49, 64, 1, 36, 0]

In [30]:
# for loop

In [31]:
list1 = ["mango", "apple", "orange", "grapes"]

In [32]:
for fruit in list1:
    print(fruit,end=" ")

mango apple orange grapes

In [35]:
colors = ["crimson", "blue", "black", "white"]
elements = ["chair", "book", "laptop","mobile"]

In [37]:
for color in colors:
    for element in elements:
        print(f"{color} - {element}")

crimson - chair
crimson - book
crimson - laptop
crimson - mobile
blue - chair
blue - book
blue - laptop
blue - mobile
black - chair
black - book
black - laptop
black - mobile
white - chair
white - book
white - laptop
white - mobile

In [ ]:
# functions

In [38]:
def greet():
    print("Welcome. how are you?")

In [39]:
greet()

Welcome. how are you?

In [40]:
def increment(x):
    x = x + 10
    return x

In [42]:
increment(9)

19

In [43]:
increment(5)

15

In [44]:
def evenOdd(n):
    if n%2==0:
        return "even"
    elif n%2==1:
        return "odd"

In [45]:
evenOdd(13)

'odd'

In [46]:
evenOdd(8)

'even'

In [48]:
# lambda function

In [49]:
lambda x:x+3

In [50]:
g = lambda x:x+3

In [51]:
g(2)

5

In [52]:
g(7)

10

In [53]:
f = lambda x : x**2

In [54]:
f(8)

64

In [55]:
# filter

In [56]:
L = [4, 9, 2, 3, 5, 7, 8, 1, 6, 0]

In [62]:
list(filter(lambda x: x%2==0,L))

[4, 2, 8, 6, 0]

In [60]:
M = list(filter(lambda x: x%2==0,L))

In [61]:
M

[4, 2, 8, 6, 0]

In [63]:
list(filter(lambda x: x%2==1, L))

[9, 3, 5, 7, 1]

In [64]:
# map

In [65]:
L = [4, 9, 2, 3, 5, 7, 8, 1, 6, 0]

In [66]:
list(map(lambda x: x**2,L))

[16, 81, 4, 9, 25, 49, 64, 1, 36, 0]

In [67]:
N = list(map(lambda x: x**3,L))

In [70]:
N

[64, 729, 8, 27, 125, 343, 512, 1, 216, 0]

In [ ]:
# reduce

In [72]:
from functools import reduce

In [ ]:
L = [4, 9, 2, 3, 5, 7, 8, 1, 6, 0]

In [71]:
reduce(lambda x,y:x+y,L)

45

In [73]:
product = reduce(lambda x,y:x*y, L)

In [74]:
product

0

In [75]:
# object oriented programming

In [76]:
class Phone:
    def make_call(self):
        print("making the call")
    
    def play_game(self):
        print("playing game")

In [77]:
p1 = Phone()

In [78]:
p1.make_call()

making the call

In [79]:
p1.play_game()

playing game

In [80]:
# parameters to the calss

In [86]:
class Phone:
    
    def set_color(self,color):
        self.color = color
        
    def set_cost(self,cost):
        self.cost = cost
    
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
        
    def make_call(self):
        print("making the call")
    
    def play_game(self):
        print("playing game")

In [88]:
p2 = Phone()

In [89]:
p2.set_color("crimson")

In [90]:
p2.set_cost(12000)

In [91]:
p2.show_color()

'crimson'

In [92]:
p2.show_cost()

12000

In [93]:
p2.make_call()

making the call

In [94]:
p2.play_game()

playing game

In [95]:
# class with constructor

In [108]:
class Employee:
    def __init__(self, name, age, salary, gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
    
    def employee_details(self):
        print(f"Name:{self.name}\nAge:{self.age}\nSalaray:{self.salary}\nGender:{self.gender}")

In [109]:
e1 = Employee("Sam",32,85000,"Male")

In [110]:
e1.employee_details()

Name:Sam
Age:32
Salaray:85000
Gender:Male

In [111]:
# inheritance

In [114]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
    
    def show_details(self):
        print("I am a vehicle")
        print(f"Mileage = {self.mileage}")
        print(f"Cost = {self.cost}")

In [115]:
v1 = Vehicle(500,500)
v1.show_details()

I am a vehicle
Mileage = 500
Cost = 500

In [116]:
class Car(Vehicle):
    def show_car(self):
        print("i am a car")

In [117]:
c1 = Car(200, 1200)

In [118]:
c1.show_details()

I am a vehicle
Mileage = 200
Cost = 1200

In [119]:
c1.show_car()

i am a car

In [120]:
# constructor overriding

In [121]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
    
    def show_details(self):
        print("I am a vehicle")
        print(f"Mileage = {self.mileage}")
        print(f"Cost = {self.cost}")

In [123]:
class Car(Vehicle):
    
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
        
    def show_car_details(self):
        print("i am a car")
        print(f"Mileage = {self.mileage}")
        print(f"Cost = {self.cost}")
        print(f"No of tyres = {self.tyres}")
        print(f"Horse power = {self.hp}")

In [124]:
c1 = Car(20,1200,4,300)

In [125]:
c1.show_details()

I am a vehicle
Mileage = 20
Cost = 1200

In [127]:
c1.show_car_details()

i am a car
Mileage = 20
Cost = 1200
No of tyres = 4
Horse power = 300

In [152]:
# types of inheritance in python

In [ ]:
# multiple inheritance

In [129]:
class Parent1():
    def assign_string_one(self,str1):
        self.str1 = str1
    
    def show_string_one(self):
        return self.str1

In [130]:
class Parent2():
    def assign_string_two(self,str2):
        self.str2 = str2
    
    def show_string_two(self):
        return self.str2

In [139]:
class Child(Parent1, Parent2):
    def assign_string_three(self,str3):
        self.str3 = str3;
    
    def show_string_three(self):
        return self.str3

In [140]:
p1 = Parent1()

In [141]:
p1.assign_string_one("cpp")

In [142]:
p1.show_string_one()

'cpp'

In [143]:
p2 = Parent2()

In [144]:
p2.assign_string_two("java")

In [145]:
p2.show_string_two()

'java'

In [136]:
c1 = Child()

In [148]:
c1.assign_string_three("javascript")
c1.assign_string_one("C")
c1.assign_string_two("python")

In [149]:
c1.show_string_three()

'javascript'

In [150]:
c1.show_string_one()

'C'

In [151]:
c1.show_string_two()

'python'

In [153]:
# multi level inheritance

In [154]:
class Parent():
    def set_name(self, name):
        self.name = name
    
    def show_name(self):
        print(f"Name = {self.name}")

In [155]:
class Child(Parent):
    def set_age(self, age):
        self.age = age
    
    def show_age(self):
        print(f"Age = {self.age}")

In [157]:
class GrandChild(Child):
    def set_gender(self, gender):
        self.gender = gender
    
    def show_gender(self):
        print(f"Gender = {self.gender}")

In [163]:
# c1 = Child()
# c1.assign_name("Zahid")
# c1.assign_age(29)

In [167]:
# c1.show_name()

In [174]:
gc = GrandChild()

In [177]:
gc.assign_age(29)

TypeError: 'int' object is not callable

In [176]:
gc.show_age()

AttributeError: 'GrandChild' object has no attribute 'age'

In [173]:
gc.assign_gender("Male")

In [171]:
gc.show_gender()

Gender = Male